@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

.top-menu {
  left: 0px;
  background:#88d4b8;
  right: 0px;
  padding-left: 80px;
  padding-right: 80px;
  margin: auto !important;
  z-index: 999;
  text-align: center;
  transition: 0.4s ease-in-out;
}
.top-menu2 {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: auto !important;
    margin-right: auto;
  z-index: 99999;
  text-align: center;
  transition: 0.4s ease-in-out;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
}
.mantnance_order_one{order:1;}
.mantnance_order_two{order:2;}
.mantnance_order_three{order:3;}
.mantnance_order_four{order:4;}
.top-menu2 .mynav .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
  color:#233565;
  font-weight: 600;
  transition: all ease-in-out .5s;
}
.top-menu  .navbar-brand img:last-child{
display: none;
}
.mobile_only{
  display: none;
}
.top-menu2  .navbar-brand img:first-child{
  display: none;
  }
.navbar-light .navbar-brand img {
    width: 90%;
    max-width:220px;
  }
  /*
  .slider-message:after{
    background-image: linear-gradient(to right top, #233565, #005d89, #0086a1, #45aeaf, #88d4b8);
    width: 100%;
    opacity: 0.5;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    position: absolute;
  
  }
  */
  .slider-message img{
    width: 100%;
  }
  .mynav .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight:600;
  }
.consaltin-btn{
    font-family: 'Alexandria', sans-serif;
}
.consaltin-btn a:first-child{
    text-decoration: none;
    border-right: dashed 1px #fff;
    font-family: 'Montserrat', sans-serif;
    padding-right: 15px;
    font-weight:600;
    margin-right: 15px;
    color:#233565;
    font-size:22px;
}
.consaltin-btn a:last-child{
    text-decoration: none;
    font-family: 'Alexandria', sans-serif;
    padding-right: 15px;
    font-weight:600;
    margin-right: 15px;
    color:#233565;
    font-size:14px;
}
.consaltin-btn a img {
  margin-left: 4px;
  width: 18px;
}
.slider-message{
    position: relative;
  }
  .main-slider .slick-slide {
    padding: 0px;
    margin: 0px;
  }
.slider-message h2 {
  position: absolute;
  top: 40%;
  font-size: 20px;
  color: #fff;
  margin-left: 10%;
  text-transform: uppercase;
}
.slick-prev, .slick-next {
    width: 50px;
    height: 40px;
    background: #fff;
    z-index: 99;
  }
  .slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size:30px;
    line-height: 1;
    opacity:1;
    color:#233565;
  }
  .slick-next {
    right: -25px;
  }
.slider-message h3 {
  position: absolute;
  top:30%;
  font-size:80px;
  margin-left: 10%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  z-index: 999;
}

.slider-message h3 b {
  text-transform: uppercase;
  background-image: linear-gradient( -225deg, #233565 0%, #88d4b8 29%, #fff 67%, #233565 100% );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textcliph3 2s linear infinite;
  display: inline-block;
}

@keyframes textcliph3 {
  to {
    background-position: -200% center;
  }
}

.slider-message h3 span{
  text-transform: uppercase;
  background-image: linear-gradient( -225deg, #fff 0%, #88d4b8 29%, #fff 67%, #88d4b8 100% );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 80px;
  font-weight: 900;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.slider-message h3 span{display: block;
    top: 50%;
    font-size:30px;
    color: #fff;
    font-weight: 300;
    }
    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
      color:#fff;
      outline: none;
      background: #88d4b8;
    }
.serboxall {
        background: #233565;
        margin-top: -100px;
        
      }
.serbox{
    border-right: solid 1px #354776;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
}
.serbox:last-child{
    border: none;
}
.serbox img{
    width: 100%;
    max-width: 100px;
}
.serbox h3{font-family: 'Montserrat', sans-serif;
color: #fff;
font-size: 18px;
margin-top: 30px;
text-transform: uppercase;
font-weight: 600;
}
.about_all_box {
  padding-top: 20px;
  background: url(../images/shape-bg.jpg);
  background-attachment: fixed;
}
.about_left_box{
padding-top: 130px;
padding-right: 30px;
}
.about_left_box h2 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
.about_left_box h1{
font-size:30px; 
font-family: 'Montserrat', sans-serif;
color: #88d4b8;
font-weight:300;
text-transform: uppercase;
padding: 0;
margin: 0;
}
.about_left_box h1 span{
    font-size:55px; 
    font-family: 'Montserrat', sans-serif;
    color: #233565;
    display: block;
    font-weight:600;
    text-transform: uppercase;  
}
.about_left_box p{
    font-size:16px; 
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight:300;
    
}
.about_right_box{
    padding-top: 220px;
    padding-left: 50px;
}
.about_right_box p{
    font-size:16px; 
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight:300;
}
.bottom_contact{
    position:fixed;
    top:50%;
    right:0;
    width:50px;
    height:100px;
    margin-top:-50px;
    z-index:999;
}
  .wapp_chat {
    line-height: 60px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
  }
  .wapp_chat {
    position: fixed;
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    background: #25d366;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    border-bottom-left-radius: 10px;
  }
.callus_bottom {
  display: block;
  height: 50px;
  line-height: 50px;
  background: orange;
  font-size: 30px;
  border-top-left-radius: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
  .wapp_chat:hover {
    color: #000;
  }
  .slider_cont{
    background-color:#88d4b8 ;
}
.main-slider{
    max-width: 1400px;
    margin: auto;
    -moz-box-shadow: 0px 98px 78px -47px #111;
    -webkit-box-shadow: 0px 98px 78px -47px #111;
    box-shadow: 0px 98px 78px -47px #111;
}

.appincesboxall {
    background: #233565;
    position: relative;
    
  }
.appincesbox {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background: #88d4b8;
  margin-right: 20px;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-decoration: none;
}
.appincesbox:last-child{
border: none;
}
.appincesbox img{
width: 100%;
max-width: 100px;
}
.appincesbox h3{font-family: 'Montserrat', sans-serif;
color: #fff;
font-size: 18px;
margin-top: 30px;
text-transform: uppercase;
}
.mantbox_mt{
    padding-top:60px;
}
.why_us_all{
    padding-top: 300px;
    margin-top: -120px;
    background: #233565;
    padding-bottom: 100px;
}
.why_us_left{
    vertical-align: middle;
    padding-top: 100px;
    padding-right: 40px;
}
.why_us_left h3{
font-size:40px;
color: #fff;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-weight: 600;
}
.why_us_left p{
    font-size:16px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    }
.why_us_right ul{
display: flex;
flex-wrap: wrap;
list-style: none;
background: url(../images/why_us.jpg) center;
padding:40px 60px;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
position: relative;
}
.why_us_right ul::before {
    background: rgba(35,53,101,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    position: absolute;
  }
.why_us_right ul li{
width: 50%;
color: #fff;
position: relative;
z-index: 9;
font-family: 'Montserrat', sans-serif;
border-right: solid 1px #354776;
border-bottom: solid 1px #354776;
position: relative;
padding-top: 40px;
padding-bottom: 40px;
}
.why_us_right ul li::before {
  content: "\f0ad";
  position: absolute;
  font-family: "Font Awesome 5 free";
font-weight: 900;
  padding-right: 20px;
  padding-left: 0px !important;
  margin-left: -25px;
  margin-top: 5px;
}
.why_us_right ul li:nth-of-type(1){
  padding-left: 0px;
}
.why_us_right ul li:nth-of-type(2){
    border-right: none;
    padding-right: 0px;
    padding-left: 40px;
}
.why_us_right ul li:nth-of-type(4){
    border-right: none;
    border-bottom: none;
    padding-right: 0px;
    padding-left: 40px;
}
.why_us_right ul li:nth-of-type(3){
    border-bottom: none;
    padding-left: 0px;
    padding-right:20px;
}
.sec_developer {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.developer_boxs::before {
  content: "+";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  color: #fff;
  background:#88d4b8;
  padding: 3px 12px;
}
.developer_boxs {
  background: #fff;
  border: solid #eee 1px;
  margin-top: -1px;
  margin-left: -1px;
  padding:30px 30px;
  transition: 0.8s ease-in-out;
  cursor: pointer;
  position: relative;
}
.developer_boxs img {
  width: 100%;
}
.contact_sect{
  background: url(../images/platinum_contact.jpg) left bottom;
  padding-top:150px;
  padding-bottom:250px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.contact_sect::after{
  background: url(../images/platinum_contact_curve.png) left bottom;
  background-size: cover;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cont_details {
  padding-left: 50px;
  position: relative;
  z-index: 99;
}
.cont_details h2{
  color: #fff;
  font-weight: 700;
  margin-bottom:50px;
  font-family: 'Montserrat', sans-serif;
}
.contact_details{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.contact_details li{
  margin-bottom: 15px;
  width:49%;
  margin-right:1%;
  font-weight: 600;
  font-size: 18px;
  padding:35px 10px 30px 30px;
  font-family: 'Montserrat', sans-serif;
  background: rgba(255,255,255,0.6);
}
.contact_details li:nth-of-type(2){
  margin-right: 0;
}
.contact_details li:nth-of-type(4){
  margin-right: 0;
}
.contact_details li i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  color: #233565;
}
.contact_details li a{
text-decoration: none;
font-family: 'Montserrat', sans-serif;
color: #000;
}
.contact_social{
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
}
.contact_social li a{
  color: #233565;
  background: rgba(255,255,255,0.6);
  display: block;
  margin-right:5px;
  width:40px;
  height:40px;
  text-align: center;
  line-height:40px;
}

.contact-form .btn.disabled, .btn:disabled, fieldset:disabled .btn {
  border-radius: 0;
  min-width: 115px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background: #233565;
  border-color: #233565;
  opacity: 1;
}
/*
.contact_social li:after{
  content: "|";
  padding-left:20px;
  padding-right:20px;
  color: #ccc;
  }
  */
  .contact_social li:last-child::after{
    display: none;
  }
.contact-box-form {
  padding-left: 30px;
  position: relative;
  z-index: 99;
}
.contact-box-form h2 {
  margin-bottom:50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}
.cont-for {
  width: 49%;
  display: inline-block;
}
.form-control::placeholder {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.form-control {
  height: calc(2.80rem + 3px);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  border: none;
  background: rgba(255,255,255,.3);
  border-bottom:none;
  border-radius: 0;
  margin-bottom: 30px;
  font-weight: 400;
  position: relative;
  transition: 0.6s ease-in-out;
}
.select-rrop textarea {
  height: 125px;
  font-family: 'Montserrat', sans-serif;
}
.footer_sect{
  padding-top: 100px;
  padding-bottom: 30px;
  background: #88d4b8;
}
.footer_sect h3{
  color: #233565;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
.footer-logo img{
  width: 190px;
}
.footer-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer-menu ul li{
margin-bottom: 10px;
position: relative;
padding-left: 25px;
}
.footer-menu ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.footer-menu ul li::before {
  content: "-";
  position: absolute;
  font-family: "Font Awesome 5 free";
font-weight: 900;
  padding-right:25px !important;
  margin-left: -25px;
}
.footer-right{
  background:url(../images/shape-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding:70px 50px 60px 50px;
}
.footer-getintouch{
  font-weight: 600;
  color: #88d4b8;
}
.footer-getintouch ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-getintouch ul li{
  margin-bottom: 15px;
}
.footer-getintouch a{
text-decoration: none;
font-family: 'Montserrat', sans-serif;
color: #333;
}
.footer-social ul{
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer-social ul li a{
  color: #88d4b8;
  text-decoration: none;

}
.footer-social ul li:after{
  content: "|";
  padding-left:20px;
  padding-right:20px;
  color: #ccc;
  
  }
  .footer-social ul li:last-child::after{
    display: none;
  }
.footer-copyrights{
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  padding:40px 0px 20px 0px;
  font-size: 14px;
}
.footer-copyrights a{
  color: #000;
}
.footer-menu-horzintal ul li{
  display: inline-block;
}
.footer-menu-horzintal ul li a{
  display:block;
  color: #000;
  text-decoration: none;
}
.top-menu .nav-item .active{
  color:#233565;
}
.top-menu2 .nav-item .active{
  color: #88d4b8 !important;
  transition: all ease-in-out .5s;
}
@media screen and (min-width:769px) and (max-width:1280px) {
  .mynav .navbar-nav .nav-item .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }

  .callus_bottom {
    position: fixed;
    width:30px;
    display: block;
    height:30px;
    bottom: 10px;
    line-height:30px;
    left: 10px;
    background:#233565;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    z-index: 100;
  }
  .footer-social ul li::after {
    padding-left: 15px;
    padding-right: 16px;
  }
  .slick-next {
    right: 0px;
  }
  .slick-prev {
    left: 0px;
  }
  .contact_sect {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .consaltin-btn a:first-child {
    padding-right: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  .contact_details li {
   
    font-weight: 300;
    font-size: 16px;
    padding: 35px 10px 30px 20px;
  }
  .cont_details {
    padding-left: 10px;

  }
  .navbar-light .navbar-brand img {
    max-width: 180px;
  }
  .top-menu {
    padding-left: 0px;
    padding-right: 0px;

  }
}
@media screen and (min-width:0px) and (max-width:768px) {
section{
  padding-left: 30px;
  padding-right: 30px;
}
.bg_mobile_height{
  height: 360px;
}
.navbar-nav .dropdown-menu {
  margin-top: 0px!important;
}
.dropdown-menu li {
  border-bottom: 1px dashed #a7ead1!important;
  padding-bottom:2px!important;
  padding-top:2px!important;
  padding-left:0px!important;
  padding-right: 0px!important;
}
.navbar-nav {
  text-align: left;
  border-top: dashed 1px #fff;
  padding-top: 20px;
  margin-top: 5px;
}
.mynav .navbar-nav .nav-item .nav-link {
  padding-left: 5px;
  padding-right: 5px;
}

.callus_bottom i{
 animation: fadeIn 1s ease-in-out infinite alternate;
}
@keyframes fadeIn {  
  from {  
  }

  0% { transform: rotate(0deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
}
.slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  color: #233565;
}
.mobile_only{
  display: inherit;
}
.destop_only{
  display: none;
}
  .top-menu {
    padding-left:0px;
    padding-right:0px;
  }
  .footer-menu{
    margin-top: 50px;
  }
  .top-menu .container{
    padding-left: 0;
    padding-right: 0;
  }
  .top-menu2 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    padding-left:0px;
    padding-right:0px;
    color: #333;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: auto !important;
    z-index:99999;
    text-align: center;
    transition: 0.4s ease-in-out;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
    margin-right:0px !important;
  }
  .top-menu2 .container{
    padding-left: 0;
    padding-right: 0;
  }
.navbar-light .navbar-brand img {
  max-width: 150px;
}
.navbar-light .navbar-toggler {
  color: rgba(255,255,255,0);
  border-color:#88d4b8;
}
.top-menu2 .navbar-light .navbar-toggler {
  color: rgba(255,255,255,0);
  border-color: #fff;
}
.fixed-mobile {
  padding: 0px;
}
.about_left_box h1 span {
  font-size: 45px;
}
.about_left_box h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.serbox img {
  max-width: 70px;
}
.navbar-toggler{
  padding: 0px;
}
.slick-next {
  right: -5px;
}
.slick-prev {
  left: -5px;
}
.slider-message h3 {
  top: 10%;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 18%;
}
.slider-message h3 span {
  top: 50%;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0px;
}
.serboxall {
  padding-top: 140px;
  padding-left: 35px;
  padding-right: 35px;
}
.about_left_box {
  padding-top: 50px;
  padding-right: 0px;
}
.about_right_box {
  padding-top: 15px;
  padding-left: 15px;
}
.serbox {
  border-bottom: solid 1px #354776;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-right: 0;
  width: 50%;
  border-right: 1;
  border-right: solid 1px #354776;
}
.serbox h3 {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 300;
}
.developer_boxs {
  padding: 20px 10px;
}
.developer_boxs::before {
  padding: 0px 5px;
}
.serbox:nth-of-type(2) {border-right: 0;}
.serbox:nth-of-type(4) {border-right: 0;}
.serbox:nth-of-type(6) {border-right: 0;}
.appincesbox {
  padding-top:20px;
  padding-bottom:20px;
  margin-right: 0px;
  width: 50%;
  border-right: 1px solid #fff;
  border-bottom: solid 1px #fff;
  text-decoration: none;
}
.appincesbox h3 {
  font-size: 13px;
  margin-top: 15px;
  font-weight: 600;
}
.why_us_all {
  padding-top: 50px;
  margin-top: inherit;
  background: #233565;
  padding-bottom: 50px;
  padding-left: 30px;
padding-right: 30px;
}
.why_us_left {
  vertical-align: middle;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.why_us_left h3 {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.why_us_right ul {
  display: block;
  padding: 40px 40px;
}
.why_us_right ul li {
  width: 100%;
  border-right:none;
}
.why_us_right ul li:nth-of-type(2) {
  border-right: none;
  padding-right: 0px;
  padding-left: 0px;
}
.why_us_right ul li:nth-of-type(3) {
  border-bottom: none;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: solid 1px #354776;
}
.why_us_right ul li:nth-of-type(4) {
  border-right: none;
  border-bottom: none;
  padding-right: 0px;
  padding-left: 0px;
}
.developer_boxs {
  width: 50%;
}
.about_all_box {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
}
.sec_developer {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.contact_details li {
  margin-bottom: 15px;
  width: 100%;
  margin-right: 0%;
  font-size: 18px;
}
.cont_details {
  padding-left: 15px;
  margin-top: 50px;
}
.cont_details h2 {
  margin-bottom: 30px;
}
.contact_sect {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.cont-for {
  width: 100%;
  display: block;
}
.contact-box-form h2 {
  margin-bottom: 30px;
}
.form-control{margin-bottom: 5px;}
.footer-right {

  padding: 50px 30px 50px 30px;
  margin-top: 30px;
}
.footer-copyrights {
  font-size: 12px;
}
.animate-charcter {
  font-size: 35px;
  font-weight: 900;
}
.footer_sect {
  padding-top: 0px;
  padding-left: 35px;
  padding-right: 35px;
}
.mant_pic_height{
  height: 300px;
}
.mantnance_order_one {
  order: inherit;
}

}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-right: calc(var(--bs-gutter-x) * .5);
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
}


/* Icons 
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
*/
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â†';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â†’';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â†’';
}
[dir='rtl'] .slick-next:before
{
    content: 'â†';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'â€¢';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

p{line-height: 30px;}
.brand_header_img{
  background: url(../images/logo_platinum_for_home_appliances_maintenance.png);
  background-size: cover;
  position: relative;
}
.aristone_brand_header_img {
  background: url(../images/logo_platinum_for_home_appliances_maintenance_white.png);
  background-size: cover;
  position: relative;
}
.toshiba_brand_header_img {
  background: url(../images/) right;
  background-size: cover;
  position: relative;
}
.samsung_brand_header_img {
  background: url(../img/samsung-platinum_home_appliances_maintenance.webp) right;
  background-size: cover;
  position: relative;
}
.lg_brand_header_img {
  background: url(../img/lg-platinum_home_appliances_maintenance.jpg) right;

  background-size: cover;
  position: relative;
}
.carier_brand_header_img {
  background: url(../img/carier-platinum_home_appliances_maintenance.jpg) center top;
  background-size: cover;
  position: relative;
}
.unionair_brand_header_img {
  background: url(../img/unionair-platinum_home_appliances_maintenance.jpg) right top;
  background-size: cover;
  position: relative;
}
.sharp_brand_header_img {
  background: url(../img/sharp-platinum_home_appliances_maintenance.jpg) right top;
  background-size: cover;
  position: relative;
}

.whitepoint_brand_header_img {
  background: url(../img/whitepoint-platinum_home_appliances_maintenance.jpg) center top;
  background-size: cover;
  position: relative;
}
.kiriazi_brand_header_img {
  background: url(../img/kiriazi-platinum_home_appliances_maintenance.jpg) center top;
  background-size: cover;
  position: relative;
}
.brand_identity{
  width:auto;
  position: absolute;
  left: -150px;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  background:#88d4b8;
  padding:30px 20px;
  border-radius: 10px;
  max-width: 350px;
  box-shadow: 0 20px 46px 12px rgba(182, 14, 14, 0.0509803922);
}
.brand_identity img{
  width:180px;
  height: 180px;
  border-radius: 50%;
  background: #fff;
}
.brand_identity h1{
font-family: 'Alexandria', sans-serif;
    font-weight:700;
    color: #233565;
    font-size:25px;
    margin-top:15px;
}
.brand_identity ul li{
  display: inline-block;
  font-family: 'Alexandria', sans-serif;
}
.brand_identity ul li:before{
content: "/";
margin-left: 5px;
margin-right: 5px;
}
.brand_identity ul li:first-child:before{
display: none;
}
.brand_identity ul li a{
  font-family: 'Alexandria', sans-serif;
  text-decoration: none;
  color: #233565;
}
.brand_header_data{
  height:800px;
  background: #88d4b8;
}
.brand-info{
  background:#88d4b8;
  padding-top:60px;
  padding-bottom:60px;
}
.brand-info h2{
  font-family: 'Alexandria', sans-serif;
      font-weight:700;
      color: #233565;
      font-size: 40px;
      margin-top:15px;
  }
  .brand-info p{
    font-family: 'Alexandria', sans-serif;
        font-weight:300;
        color:#000;
        font-size:14px;
        margin-top:15px;
    }
    .brand-info a {
      font-family: 'Alexandria', sans-serif;
      font-weight: 300;
      color: #fff;
      font-size: 18px;
      margin-top: 15px;
      background: #233565;
      display: block;
      max-width: 180px;
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
    }
    .contact_blue_btn {
      font-family: 'Alexandria', sans-serif;
      font-weight: 500;
      color: #fff;
      font-size: 16px;
      margin-top: 15px;
      background: #233565;
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      margin-top: 25px;
      margin-bottom: 25px;
      width: auto;
      display: inline-block;
    }
.contact_blue_btn:hover{
color:#57b592;
    }
.bottom_brand_info{
  padding-top:50px;
  padding-bottom:50px;
  font-family: 'Alexandria', sans-serif;
}
.bottom_brand_info{
  font-family: 'Alexandria', sans-serif;
  font-weight: 300;
  color: #333;
  font-size:14px;
}
.zerotopmargin{
  margin-top: 0px;
  padding-top: 100px;
}
.contact_right {
  padding-left: 60px;
  position: relative;
  z-index: 999;
}
.contact_right h5{
  font-family: 'Alexandria', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size:22px;
}
.contact_right ul{
margin: 0px;
padding: 0;
margin-top: 50px;
}
.contact_right ul li{
  font-family: 'Alexandria', sans-serif;
  font-weight:300;
  color: #fff;
  font-size:14px;
  margin-bottom: 20px;
}
.contact_right a {
  font-family: 'Alexandria', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  margin-top: 15px;
  background: #233565;
  display: block;
  max-width: 180px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
}
.sharp_washing_mchine_text h2 {
        font-size:14px;
        font-family: 'Alexandria', sans-serif;
        color: #333;
        display: block;
        margin-bottom: 15px;
        font-weight:300;
      }
.left_pad_one{padding: 0px 0px 40px 40px;}
.right_pad_one{padding: 40px 40px 40px 0px;}
.sharp_washing_mchine_text h3{
        font-size:25px;
        font-family: 'Alexandria', sans-serif;
        color: #57b592;
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
      }
      .sharp_washing_mchine_text h4{
        font-size:18px;
        font-family: 'Alexandria', sans-serif;
        color: #57b592;
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
      }
.sharp_washing_mchine_text p{
  font-family: 'Alexandria', sans-serif;
      font-weight:300;
      color: #000;
      font-size:14px;
      margin-top:10px;
  }
.sharp_washing_mchine_text li{
  font-family: 'Alexandria', sans-serif;
  font-weight: 300;
  font-size: 14px;
  list-style: none;
  margin-bottom: 5px;
  line-height: 30px;
  }
  .sharp_washing_mchine_text ul li::before {
    content: "\f0ad";
    position: absolute;
    list-style: none;
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    color: #57b592;
    padding-right: 20px;
    padding-left: 0px !important;
    margin-right: -50px;
    margin-top: 5px;
  }




    .brandinfo_box h4 {
      color: #233565;
      font-family: 'Alexandria', sans-serif;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 30x;
      margin-top: 30px;
      margin-bottom: 25px;
    }
.brandinfo_box ul li {
  font-family: 'Alexandria', sans-serif;
  font-weight: 300;
  font-size: 14px;
  list-style: none;
  margin-bottom: 15px;
}
.brandinfo_box ul li::before {
  content: "\f0ad";
  position: absolute;
  list-style: none;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  color:#233565;
  padding-right: 20px;
  padding-left: 0px !important;
  margin-right: -50px;
  margin-top: 5px;
}
.siana_title {
  font-size:30px;
  font-family: 'Alexandria', sans-serif;
  color: #233565;
  display: block;
  margin-bottom:40px;
  margin-top: 40px;
  font-weight: 600;
}
.mynav .navbar-nav .nav-item .nav-link {
    font-family: 'Alexandria', sans-serif;
    font-weight:700;
  }
  .top-menu2 .mynav .navbar-nav .nav-item .nav-link {
    font-family: 'Alexandria', sans-serif;
    font-weight:700;
  }
  .consaltin-btn a:first-child {
    border-right: dashed 1px #fff;
    padding-left: 0px;
    margin-right: 0px;
    direction: ltr !important;
    unicode-bidi: embed;
    border-left: none;
    padding-right: 15px;
  }
  .navbar-nav .dropdown-menu {
    margin-top: 17px;
    background: #88d4b8;
  }
  .dropdown-menu{
    border: none;
    border-radius: 0;
  }
  .dropdown-item {
    font-family: 'Alexandria', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
  .dropdown-menu li {
    border-bottom: 1px dashed #a7ead1;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .dropdown-menu li:last-child{
    border-bottom:none;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color:transparent;
    color: #fff;
  }
  .dropdown-menu li:hover {
    background:#233565;
    color: #fff;
  }
 .footer-getintouch a {
  color: #000;
  direction: ltr !important;
  unicode-bidi: embed;
}
.consaltin-btn a img {
  margin-right: 3px;
  margin-left: inherit;
  width: 16px;
  margin-top: -2px;
}
/*
  .contact_sect::after {
    background: url(../img/platinum_contact_curve_ar.png) right bottom;
  }
  */
  .consaltin-btn a:last-child {
    padding-right: 15px;
    margin-left: 15px;
    margin-right: inherit;
  }
.slider-message h3 {
  margin-left: inherit;
  font-weight: 700;
  right: 10%;
  font-family: 'Alexandria', sans-serif;
  font-size: 80px;
}
@keyframes textcliph3 {
  to {
    background-position: 200% center;
  }
}
.slider-message h3 span {
    font-size:35px;
    margin-top: 20px;
  }
.about_left_box h2 {
    font-size: 14px;
    font-family: 'Alexandria', sans-serif;
    color: #000;
    font-weight: 300;
    padding: 0;
    margin: 0;
  }
  .about_left_box h1 {
    font-size: 30px;
    font-family: 'Alexandria', sans-serif;
    color: #88d4b8;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .about_right_box {
    padding-top: 281px;
    padding-left:inherit;
    padding-right: 50px;
  }
  .about_left_box p {
    font-size: 16px;
    font-family: 'Alexandria', sans-serif;
    color: #000;
    font-weight: 300;
  }
  .about_right_box p {
    font-size: 16px;
    font-family: 'Alexandria', sans-serif;
    color: #000;
    font-weight: 300;
  }
.about_left_box h1 span {
    font-size:55px;
    font-family: 'Alexandria', sans-serif;
    color: #233565;
    display: block;
    margin-bottom:15px;
    font-weight: 600;
    text-transform: uppercase;
  }
.appincesbox h3 {
    font-family: 'Alexandria', sans-serif;
  }
.why_us_left h3 {
    font-family: 'Alexandria', sans-serif;
    font-weight:700;
  }
  .why_us_left p {
    font-family: 'Alexandria', sans-serif;
    font-weight: 300;
  }
  .why_us_right ul li {
    font-family: 'Alexandria', sans-serif;
    border-left: solid 1px #354776;
    border-right:none;
    font-weight: 300;
    border-bottom: solid 1px #354776;
    line-height: 30px;
  }
  .why_us_right ul li::before {
    padding-left: 20px;
    padding-right: 0px !important;
    margin-right: -25px;
  }
  .why_us_right ul li:nth-of-type(2) {
    border-left: none;
    padding-right: 0px;
    padding-right: 40px;
  }
  .why_us_right ul li:nth-of-type(3) {
    border-bottom: none;
    padding-right: 0px;
    padding-left: 20px;
  }
  .why_us_right ul li:nth-of-type(4) {
    border-left: none;
    border-bottom: none;
    padding-left: 0px;
    padding-right: 40px;
  }
  .why_us_right ul li:nth-of-type(5) {
    padding-right: 0px;
    padding-left: 20px;
  }
  .why_us_right ul li:nth-of-type(6) {
    padding-left: 0px;
    padding-right: 40px;
    border-left: 0;
  }
  .why_us_right ul li:nth-of-type(7) {
    padding-right: 0px;
    padding-left: 20px;
  }
  .why_us_right ul li:nth-of-type(8) {
    border-left: none;
    padding-left: 0px;
    padding-right: 40px;
  }
  .why_us_right ul li:nth-of-type(9) {
    padding-right: 0px;
    border-bottom: none;
    padding-left: 20px;
  }
  .why_us_right ul li:nth-of-type(10) {
    border-left: none;
    border-bottom: none;
    padding-left: 0px;
    padding-right: 40px;
  }
.serbox h3 {
    font-family: 'Alexandria', sans-serif;
    font-weight:700;
  }
  .serbox {
    border-left: solid 1px #354776;
    border-right: none;
  }
  .contact_details li {
    margin-left: 1%;
    margin-right: inherit;
    padding: 35px 30px 30px 10px;
  }
  .form-control {
    font-weight: 300;
    font-family: 'Alexandria', sans-serif;
    text-align: right;
  }
  .form-control::placeholder {
    font-family: 'Alexandria', sans-serif;
  }
  .contact-box-form h2 {
    font-family: 'Alexandria', sans-serif;
    font-weight: 700;
  }
  .cont_details h2 {
    font-family: 'Alexandria', sans-serif;
  }
  .footer_sect h3 {
    font-family: 'Alexandria', sans-serif;
  }
  .footer-getintouch {
    font-weight:300;
    font-family: 'Alexandria', sans-serif;
    font-size:15px;
  }
  .footer-menu ul li {
    padding-right: 25px;
    padding-left: inherit;
  }
  .contact_details li a {
    direction: ltr !important;
    unicode-bidi: embed;
  }
  .footer-menu ul li a {
    font-family: 'Alexandria', sans-serif;
  }
  .footer-menu ul li::before {
    margin-right: -50px;
    margin-left: inherit;
  }
  .footer-copyrights {
    text-align: left;
  }
  .footer-menu-horzintal{
    border-bottom: 1px solid #a7ead1;
    border-top: 1px solid #a7ead1;
    margin-top: 50px;
    padding: 20px 0px;
  }
  .footer-menu-horzintal ul{
    margin: 0;
    padding: 0;
  }
  .footer-menu-horzintal ul li{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    padding-right: 15px;
  }
  .footer-menu-horzintal ul li::before {
    content: "--------";
    position: absolute;
    right: 0px;
    letter-spacing: -6px;
  }
  .footer-menu-horzintal ul li a{
    font-family: 'Alexandria', sans-serif;
    font-size: 14px;
  }
  .siana_pading_top{
    padding-top: 50px;
  }
  /*
  .developer_boxs span{
    position: relative;
  }
  .developer_boxs span::before {
    content: "+";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    color: #fff;
    background: #88d4b8;
    padding: 3px 12px;
  }
  */
  .developer_boxs{
    overflow: hidden;
  }
  .developer_boxs::before {
    content: "+";
    position: absolute;
    bottom: 0;
    right: 0;
    left: inherit;
    font-weight: 700;
    color: #fff;
    background: #88d4b8;
    padding: 3px 12px;
    z-index: 2;
  }
  .developer_boxs span{
  position: absolute;
  right: -100%;
  bottom:0px;
  padding:4px 12px;
  color: #fff;
  text-decoration: none;
  font-family: 'Alexandria', sans-serif;
  transition: 0.5s ease-in-out;
  z-index: 1;
  background: #88d4b8;
  font-size: 14px;
  }
  .developer_boxs:hover span{
    position: absolute;
    right:30px;
    background:#233565;
    transition: 0.5s ease-in-out;
    }
  @media screen and (min-width:0px) and (max-width:768px) {
    .brand_header_img {
      height:400px;
    }
    .brand_header_data {
      height: 0px;
    }
    .brand-info h2 {
      font-size: 25px;
    }
    .siana_title {
      font-size: 25px;
    }
    .developer_boxs {
      padding: 20px 0px;
      padding-bottom: 0px;
      text-decoration: none;
    }
    .developer_boxs::before {
      display: none;
    }
    .developer_boxs span {
      position: inherit;
      right: 0;
      bottom: 0px;
      padding: 4px 5px;
      color: #fff;
      text-decoration: none;
      font-family: 'Alexandria', sans-serif;
      transition: 0.5s ease-in-out;
      z-index: 1;
      background: #88d4b8;
      font-size: 11px;
      width: 100%;
      display: block;
      text-decoration: none;
      margin-top: 20px;
    }
    /*
    .developer_boxs {
      border: solid #fff 1px;
      padding:30 0px 0px 0px;
      transition: 0.8s ease-in-out;
      border-bottom: none;
    }
    */
    .footer-menu-horzintal ul li {
      padding-right: 10px;
      width: 50%;
      margin-left:-3px;
    }
    .left_pad_one {
      padding: 0px 0px 40px 0px;
    }
    .right_pad_one {
      padding: 40px 00px 40px 0px;
    }
    .westinghouse-washing_machin_bg {
      height: 300px;
    }
    .toshiba-washing_machin_bg{height: 350px;
    }
.toshiba-fridge_bg{height: 350px;}
.toshiba-tv_bg{height: 350px;}
    .footer-menu-horzintal ul li a {
      font-size: 12px;
    }
    .westinghouse-fridge_bg {
      height: 300px;
      margin-bottom: 10px;
    }
    .sharp_washing_mchine_text h3 {
      font-size: 20px;
    }
    .brand_identity {
      position: inherit;
      padding: 20px 20px;
      border-radius: 5px;
      max-width: 200px;
      background: rgba(136,212,184,.7);
    }
    .brand_identity img {
      width: 120px;
      height: 120px;
    }
    .brand_identity h1 {
      font-size: 18px;
      margin-top: 10px;
    }
    .brand_identity ul{
      margin: 0px;
      padding: 0px;
    }
    .brand_identity ul li {
      font-size: 12px;
    }
    .brand_identity ul li::before {
      content: "/";
      margin-left: 2px;
      margin-right: 2px;
    }
    .brand_identity ul li a {
      font-size: 12px;
    }
  
    .about_right_box {
    padding-top: 0;
    padding-left: inherit;
    padding-right: 0px;
  }
.navbar-nav {
  text-align:right;
  border-top: dashed 1px #fff;
  padding-top: 20px;
  margin-top: 5px;
}
  [dir="rtl"] .slick-next {
    right: auto;
    left: -10px;
  }
.slider-message h3 {
  font-size: 35px;
}
  [dir="rtl"] .slick-prev {
    right: -10px;
    left: auto;
  }
  .slick-prev, .slick-next {
    width: 30px;
    height: 30px;
  }
  .slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #233565;
  }
  .slider-message h3 span {
    font-size: 18px;
    margin-top: 10px;
  }
  .serbox:nth-of-type(2) {
    border-right: 0;
    border-left: 0;
  }
  .serbox:nth-of-type(4) {
    border-right: 0;
    border-left: 0;
  }
  .about_left_box h1 span {
    font-size: 40px;
  }
  .about_left_box h1 {
    font-size: 22px;
  }
  .why_us_right ul li:nth-of-type(1) {
    padding-left: 0px;
    border-left: 0;
  }
  .why_us_right ul li:nth-of-type(3) {
    padding-right: 0px;
    padding-left: 0px;
    border-left: 0;
    border-bottom: solid 1px #354776;
  }
  .why_us_right ul li:nth-of-type(2) {
    border-left: none;
    padding-right: 0px;
    padding-right: 0px;
  }
  .why_us_right ul li:nth-of-type(4) {
    padding-right: 0px;
  }
  .why_us_right ul li:nth-of-type(5) {
    padding-right: 0px;
    padding-left: 0px;
    border-left: none;
  }
  .why_us_right ul li:nth-of-type(6) {
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0;
  }
  .why_us_right ul li:nth-of-type(7) {
    padding-right: 0px;
    padding-left: 0px;
    border-left: none;
  }
  .why_us_right ul li:nth-of-type(8) {
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0;
  }
  .why_us_right ul li:nth-of-type(9) {
    padding-right: 0px;
    padding-left: 0px;
    border-left: none;
  }
  .why_us_right ul li:nth-of-type(10) {
    border-left: none;
    border-bottom: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .aristone_brand_header_img {
    height: 400px;
  }
  .toshiba_brand_header_img {
    height: 400px;
  }
  .samsung_brand_header_img {
    height: 400px;
  }
  .samsung-fridge_bg{  
    height:300px;
    }
    .samsung-washing_machin_bg{  
      height:300px;
    }
    .samsung-tv_bg{  
      height:300px;
    }
    .samsung-ac_bg{  
      height:300px;
    }
    .bottom_brand_info {
      padding-top: 0px;
      padding-bottom: 0px;
    }
.header_min_height{
  height: 440px;
  background-position: center;
}
.mob_pad_top{
      padding-top:30px;
    }
}/* Slider */
